.color-primary.bg-gradient-primary,.color-primary{
    background: #ffbb00 !important;
    color:white !important;
}
.text-white,.bg-danger,.bg-secondary{
    color: white !important;
}
.sidebar-dark .nav-item .nav-link,.sidebar-dark .sidebar-heading{
    color:white !important;
}